<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card class="img-user">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
  </ion-card>
  <ion-card>
    <p>Nombre usuario: Susana López</p>
    <p>Género: Femenino</p>
    <p>Fecha de nacimiento: 07/07/1999</p>
    <p>Número de télefono: +56956254874</p>
  </ion-card>
  <ion-button>Editar</ion-button>
  <ion-button>Eliminar</ion-button>
</ion-card>
</ion-content>
