<ion-content [fullscreen]="true">
  <img class="Logo" src="assets/img/Logo.png" alt="Mi Imagen">

  <ion-card class="header-card">
    <ion-card-header>
      <div id="btn"></div>
      <div class="button-container">
          <button type="button" class="toggle-btn">Log In</button>
          <button type="button" class="toggle-btn">Sign Up</button>
      </div>
  </ion-card-header>
  
      <ion-card-content>
          <h1>Bienvenido a PocketChef</h1>
          <ion-item lines="full" class="item">
              <ion-label position="floating">Usuario</ion-label>
              <ion-input type="text" class="input-field" [(ngModel)]="user.usuario" minlength="3" maxlength="8"></ion-input>
          </ion-item>
          <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" class="input-field" [(ngModel)]="user.password"></ion-input>
          </ion-item>
          <ion-row>
              <ion-col>
                  <button expand="full" (click)="ingresar()" class="submit-btn">Log In</button>
              </ion-col>
          </ion-row>
      </ion-card-content>
  </ion-card>
</ion-content>




