ion-content{
    --ion-background-color: rgb(140,128,153);
    --background: linear-gradient(0deg, rgba(140,128,153,1) 0%, rgba(233,213,254,1) 64%);
}

ion-toolbar{
    background: var(--ion-color-mycolor);
}

.card-2{
    background-color:C4C4C4 ;
    align-content: center;
    font-size:xx-small;
}

.card-1{
    background-color: F695ED;
    align-content: center;
    font-size:xx-small;
}