<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mycolor" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card">
    PocketChef es una app culinaria que reúne a una comunidad de amantes de la cocina. 
    Los usuarios comparten y exploran recetas, desde platos tradicionales hasta creaciones únicas.
  </div>















</ion-content>
